/* Reseta margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    position: relative;
    overflow: hidden;
}

.banner {
    position: relative;
    height: 100vh; /* A altura será de 100% da viewport */
    overflow: hidden;
}

.banner-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Coloca o vídeo atrás do texto */
}

.animated-text, .banner-content {
    position: relative;
    z-index: 1; /* Coloca o texto na frente do vídeo */
    color: white;
    text-align: center;
}
.animated-text span {
    display: block;
    animation: fadeInOut 12s infinite;
}

@keyframes fadeInOut {
    0%, 33.33%, 100% { opacity: 0; }
    16.66%, 50% { opacity: 1; }
}

.banner-content {
    text-align: center;
    z-index: 1;
}

.banner h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.5em;
}

/* Restante do CSS para as outras seções */
